@page
@model BookstoreASP.Pages.Translators.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Translator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Translator.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
