@page
@model BookstoreASP.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PublicationYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PublicationYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Pages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Pages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Genre.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Translator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Translator.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.ItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
